<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.lastmultiplayergame">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_arcanoid_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_arcanoid_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.LastMultiplayerGame">
        <activity android:name=".game.SingleplayerGameActivity" />
        <activity android:name=".game.setup.GameTypeSettingsActivity" />
        <activity android:name=".game.setup.LobbyActivity" />
        <activity android:name=".game.setup.MultiplayerSettingsActivity" />
        <activity android:name=".game.MultiplayerGameActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>